body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #000000;
    color: #fff;
    position:relative;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #1b581d;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.planet {
    background: #0f3460;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background: #000125;
    margin-top: 13%;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('solar\ system.gif'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 70%;}
.content {position: relative;z-index: 1;text-align: center;margin-top: 20%;}
.text-container {position: absolute;top: 50%;left: 10%;transform: translateY(-50%);color: white;}
h1 {font-size: 4rem;margin: 0;}h2 {font-size: 1.5rem;margin: 0;}
p {font-size: 1.5rem;margin: 10px 0 0;}
.button-container {
    margin: auto;
    display: flex;
    background-color: #0f3460;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    #0f3460 5px 10px 15px;
  }
  
  .button {
    
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }

.card {
    margin-top: 12%;
    margin-left: 75%;
    margin-right: 8%;
    --bg-color: #212121;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
  }
  .loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    z-index: 20;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 4s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  .toolbar {
    background-color: #0f3460;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}